################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hackerrank/FileContentIndex
/.vs/Hackerrank/v17/.wsuo
/.vs
